body{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.logo{
    border-radius: 20px;
    border-color: black;
    text-align: center;
    justify-content: center;
}

.regdiv{
    background-color: aqua;
}

.regbtn{
    /* itong width minatch lang natin sa width ng inputbx */
    width: 370px;
}

.code{
    margin-top: 10px;
    text-align: center;
}

.alrt-container{
    position: absolute;

}

.hide{
    visibility: hidden;
}